@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: "DMSans";
  src: url("DMSans-VariableFont_opsz\,wght.ttf") format("truetype");
}

@theme inline {
  --color-main-500: #1b365d;
  --color-main-400:#274b85;
  --color-main-300:#336699;
  --color-dark-text:#333333;
  --font-DMSans:"DMSans", sans-serif ;
}

body {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  min-height: 100svh;
  background: var(--background);
  color: var(--foreground);
  font-family: Inter , sans-serif;
}

main {
  flex: 1;
  @apply container;
}

.MuiStack-root.css-1sazv7p-MuiStack-root {
  display: flex;
  flex-direction: row;
}
